@font-face {
    font-family: 'FuturaBold';
    src: url('fonts/FuturaPT/FuturaPT-Bold.woff') format('woff'); /* Подключение WOFF-шрифта */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaDemi';
    src: url('fonts/FuturaPT/FuturaPT-Demi.woff') format('woff'); /* Подключение WOFF-шрифта */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaExtra';
    src: url('fonts/FuturaPT/FuturaPT-ExtraBold.woff') format('woff'); /* Подключение WOFF-шрифта */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaBook';
    src: url('fonts/FuturaPT/FuturaPT-Book.woff') format('woff'); /* Подключение WOFF-шрифта */
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
    overflow-x: hidden;
}
header {
    width: 100%;
    height: 15%;
    display: block;
    justify-content: center;
    font-size: 3em;
    position: fixed;
    top:0px;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
header {
    height: 10%;
    font-size: 2em;
}
}

@media screen and (max-width: 480px) {
header {
    
    height: 5%;
    font-size: 1.5em;
}
}
/* .columnsHeader {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    width: 100%;
    gap: 30px;
    padding: 0 0 0 20px;
    margin-top: 0px;
    height: 55px;
    justify-content: center; 
   
} */
.columnsHeader {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "col1 col2 col3 col4 col5";
    justify-items: center;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}



/*---------------------------------------------------------------*/
.columnsHeader .column1 .textCol{
    margin: 0;
    height: 55px;
    line-height: 0.5;
    margin-top: 10px;
}
.columnsHeader .column1 .textCol .mobistor{
    font-family: 'FuturaExtra';
    font-weight: 800;
    font-size: 32px;
    text-transform: uppercase;
    color: #2F2C2D;

}
.columnsHeader .column1 .textCol .scooters{
    font-family: 'FuturaBold';
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #F55522;

}
/*---------------------------------------------------------------*/
.columnsHeader .column2 .textCol{
    margin: 0;
    height: 55px;
    line-height: 0.2;

}
.columnsHeader .column2 .textCol .br1{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;

    color: #353942;
}
.columnsHeader .column2 .textCol .br2{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #353942;
}
.columnsHeader .column2 .textCol .br3{
    font-family: 'FuturaBook';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #FF5C38;
}
/*---------------------------------------------------------------*/
.columnsHeader .column3{
    display: flex;
    align-items: center;
}
.columnsHeader .column3 .textCol{
    margin: 0;
    
    line-height: 0.2;
    margin-left: 20px;
}
.columnsHeader .column3 .textCol .br1{
    color: #353942;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'FuturaBold';
    font-size: 12px;


}
.columnsHeader .column3 .textCol .br2{
    width: 130px;
    font-family: inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    font-weight: 400;

}
/*---------------------------------------------------------------*/

.columnsHeader .column4{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.columnsHeader .column4 .masenger{
    margin-right: 10px
}
.columnsHeader .column4 .masenger{
    width: 42px;
    height: 42px;
    border-radius: 100px;
}
.columnsHeader .column4 .masenger:hover{
    border:1px solid #FF8329
}
.columnsHeader .column4 .masenger.call{
    display: none;
}
/*---------------------------------------------------------------*/

.columnsHeader .column5{
    display: flex;
    align-items: center;
}
.columnsHeader .column5 .textCol{
    line-height: 0.2;
    margin: 0;
    margin-left: 20px;

}
.columnsHeader .column5 .textCol .br1{
    font-family: 'FuturaBold';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    text-transform: uppercase;
    color: #353942;


}
.columnsHeader .column5 .textCol .br2{

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: right;
    color: #353942;
    text-align: center;

}
.columnsHeader {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}


@media screen and (max-width: 980px) {
    header {
        
        height: 5%;
        font-size: 1.5em;
    }
    header .columnsHeader .column3 .textCol{
        margin: 0;
        
        line-height: 0.6;
        margin-left: 10px;
    }
    header .columnsHeader {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    header .columnsHeader .column4 {
        grid-column: 1;
        grid-row: 1;
      }
      
    header .columnsHeader .column3 {
        grid-column: 2;
        grid-row: 1;
    }
    header .columnsHeader .column3 .br1{
        display: none;
    }
    header .columnsHeader .column3 .textCol{
        margin-top: -6px;
    }
    header .columnsHeader .column1{
        display: none;

    }
    header .columnsHeader .column2{
        display: none;
    }
    header .columnsHeader .column5{
        display: none;

    }
    .columnsHeader .column4 .masenger.call{
        display: block;
    }
    .columnsHeader .column4 .masenger img{
        width: 42px;
        height: 42px;
    }
}
@media screen and (max-width: 500px) {
    header .columnsHeader .column4{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap:5px;
        text-align: center;
        justify-content: center;
        margin-top: 23px;
    }
    .columnsHeader .column4 .masenger {
        margin-right: 0;
    }
    .columnsHeader .column4 .masenger img{
        width: 35px;
        height: 35px;
    }
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

.headerNav{
    justify-content: center;
    width: 100%;
    height: 30px;
    margin-top: 15px;
    border-top: solid 1px #C4C4C4;
}
.topnav{
    background-color: #ffffff;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}
.topnav a{
    text-align: center;
    padding: 16px 16px;
    font-family: 'FuturaBook';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
    color: #353942;
    text-decoration: none;
}
.topnav a:hover{
    color: #FF8329;
}
.headerNav .columnsHeader .column3{
    display: none;
}
.headerNav .columnsHeader .column1{
    display: none;

}
.headerNav .columnsHeader .column2{
    display: none;
}
@media screen and (max-width: 780px) {
    header .headerNav .columnsHeader {
        height: 70px;
        background-color: #ffffff;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-areas: "col1 col1 col1 col2 col2 col2 col3";
        gap: 0px;
        justify-items: center;
        align-items: center;
        margin-top: 10px;
        padding-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;

    }
    header .headerNav .columnsHeader .column1:nth-child(1) {
        grid-area: col1;
    }
    
    header .headerNav .columnsHeader .column2:nth-child(2) {
        grid-area: col2;
    }
    
    header .headerNav .columnsHeader .column3:nth-child(3) {
        grid-area: col3;
    }
    header .headerNav .columnsHeader .column2 {
        grid-column: 2;
        grid-row: 1;
      }
      
    header .headerNav .columnsHeader .column3 {
        grid-column: 3;
        grid-row: 1;
    }
    header .headerNav .columnsHeader .column1{
        display: block;
        
    }
    header .headerNav .columnsHeader .column1 .mobistor{
        font-size: 24px;
    }
    header .headerNav .columnsHeader .column1 .scooters{
        font-size: 18px;
    }
    header .headerNav .columnsHeader .column1 .textCol{
        line-height: 20px;
        margin-top: 5px;
    }
    header .headerNav .columnsHeader .column2{
        display: block;
    }
    header .headerNav .columnsHeader .column2 .textCol{
        line-height: 10px;
    }
    header .headerNav .columnsHeader .column2 .textCol .br1{
        line-height: 10px;
        font-size: 12px;
    }
    header .headerNav .columnsHeader .column2 .textCol .br2{
        line-height: 10px;
        font-size: 12px;
    }
    header .headerNav .columnsHeader .column2 .textCol .br3{
        line-height: 10px;
        font-size: 10px;
    }
    header .headerNav .columnsHeader .column3{
        display: block;
        width: 50px;
    }
    header .columnsHeader .menu1{
        display: none;
    }
/* ------------------------------------------------------------- */

    .topnav a{
        display: none;
    }
    .topnav .icon.row{
        flex-wrap: nowrap;
        float: right;
        margin-top: 5px;
        display: flex;
        color: black;
    }
    nav{
        width: 100%;
        height: 70px;
    }
    .topnav.responsive{
        position: relative;
        margin-top: 0;
    }
    
    .topnav.responsive a{
        border-bottom: solid 1px #C4C4C4;
        border-top: solid 1px #C4C4C4;
        text-align: center;
        float: none;
        display: block;
        text-align: left;
        background: #fff;
        z-index: 1;
        position: relative;
    }
    .headerNav .columnsHeader .column3.responsive .menu1{
        display: none;
    }
    .headerNav .columnsHeader .column3.responsive .menu2{
        display: block;
    }
    .headerNav .columnsHeader .column3 .menu2{
        display: none;
    }
    .headerNav .columnsHeader .column3 .menu1{
        display: block;
    }
    

}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
.original{
    margin-top: 0;
    width: 100%;
    height: 750px;

}
.original{
    background-image: url('img/main/original.png');
    background-position: center;
    background-repeat: repeat-y;
}

  
.originalText{
    padding: 50px 90px;
    
}
/*---------------------------------------------------------------*/
.originalText .text1{
    margin-top: 0px;
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    margin-bottom: 10px;
    line-height: 100%;
    color: #4B4B4B;

}
.originalText .text1 .br1{
    color: #FFFFFF;
    background-image: url("img/main/line.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center bottom; 
    display: inline-block;
    padding: 10px;
}
/*---------------------------------------------------------------*/
.originalText .text2{
    font-family: 'FuturaBook';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 120%;
    color: #4B4B4B;
    margin: 0;
}
.originalText .btn{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: normal;
    margin-top: 25px;
    width: 280px;
    height: 70px;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(93.63deg, #FF1887 0%, #FF5C38 100.8%);
    box-shadow: 0px 0px 60px rgba(228, 117, 73, 0.734);
    border-radius: 100px;
}
.unVisOrig .originalText .text1{
    display: none;
}
.unVisOrig .originalText .text2{
    display: none;
}
.unVisOrig .originalText .btn{
    display: none;
}
@media screen and (max-width: 1067px) {
    .original {
      background-position: 85% center;
    }
    .original{
        background-size: auto 100%;
    }
    .originalText .text1{
        padding: 0;
        text-align: center;
    }
    .unVisOrig .originalText{
        padding: 0;
    }
    .originalText .text2{

        padding: 0;
        text-align: center;
        font-size: 24px;
    }
    .originalText .text1{
        font-size: 38px;
    }
    .originalText .text2{
        font-size: 24px;
    }
    .original .originalText .text1{
        visibility: hidden;
    }
    .original .originalText .text2{
        visibility: hidden;
    }
    .original .originalText .btn{
        display: none;
        visibility: hidden;
    }
    .unVisOrig{
        justify-content: center;
    }
    .unVisOrig .originalText .text1{
        display: block;
        margin-top: -40px;
    }
    .unVisOrig .originalText .text2{
        display: block;
    }
    .unVisOrig .originalText .btn{
        display: block;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }

}
@media screen and (max-width: 767px) {
    .original {
        height: 30%;
    }
    
  
}
/*---------------------------------------------------------------*/
.pluses{
    background: linear-gradient(111.58deg, #F9E7E7 0%, #FFE8D7 100%);
    border-radius: 20px;
    border-color: #ff7700;
    width: 80%;
    
    margin-top:-250px;
    display: fixed;
    margin-left: auto;
    margin-right: auto;

}

.columnsPluses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 50px;
    padding: 35px;
    justify-content: center; /* Выравниваем по горизонтали */
    border-radius: 20px;

}
/*---------------------------------------------------------------*/
.columnsPluses .column1, .columnsPluses .column2, .columnsPluses .column3{
    display: flex;
    align-items: center;
}
.columnsPluses img{
    width: 80px;
    height: 80px;
    border-radius: 100px;

}

.columnsPluses .columnText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    margin-left: 10px;
    color: #353942;
}
.columnsPluses .columnText .br1{
    color: #FF5C38;
}
@media screen and (max-width: 1300px) {
    .columnsPluses{
        width: 90%;
    
    }
}
@media screen and (max-width: 1100px) {
    .columnsPluses{
        display: grid;
        gap:20px;
        
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: (3, 0fr);
    }
    .pluses{
        width: 355px;
        margin-top: 50px;
    }
    .columnsPluses img{
        width: 64px;
        height: 64px;
        border-radius: 100px;
    
    }
}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
.msScooter .bg{
    width: 100%;
    z-index: -1;
    position: absolute;
    border-bottom: 2px solid #ECECEC;
    
}
.msScooter{
    padding-bottom: 70px;
}
.msScooterTitle .br1{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 140%;
    text-align: center;
    color: #FF5C38;
}
.msScooterTitle{
    font-family: 'FuturaBook';
    font-size: 32px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    color: #4B4B4B;
}

/*---------------------------------------------------------------*/
.columnScooter{
    display: flex;
    gap: 20px;
    padding: 35px;
    align-items: center;
    justify-content: center; 
    margin-top: -50px;
}
.columnScooter .back, .columnScooter .next{
    height: 57px;
    width: 35.22px;   
}
.columnScooter .pic{
    width: 766px;
    height: 380px;
}
.columnScooter2{
    display: grid;
    grid-template-columns: repeat(5, 0fr);
    gap: 20px;
    padding: 15px;
    align-items: center;
    justify-content: center; 
    margin-top: -50px;
}
.columnScooter2 img{
    width: 160px;
    height: 160px;
    border-radius: 100px;
}
@media screen and (max-width: 1100px) {

    .msScooter .bg{
        display: none;
    }
    .msScooterTitle .br1{
        text-align: center;
       
        font-size: 32px;

    }
    .msScooterTitle{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 18px;
        line-height: 30px;
        width: 338px;
    }
    .columnScooter .pic{
        margin-top: 20px;
        width: 405px;
        height: 360px;
    }
    .columnScooter2 img{
        width: 60px;
        height: 60px;
        border-radius: 100px;
    }
    .columnScooter2{
        gap: 10px;
    }
    
}
@media screen and (max-width: 500px) {
    .columnScooter .back, .columnScooter .next{
        display: none;   
    }
}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
.katalogTitle{
    font-family: 'FuturaDemi';
font-style: normal;
font-weight: 400;
font-size: 54px;
line-height: 120%;
/* or 65px */

text-align: center;

color: #FF5C38;
}

.katalogTitle .br1{
color: #4B4B4B;
}
.katalogSubTitle_bg{
    width: 100%;
    font-size: 3em;
    position: fixed;
    top:0px;
    background-color: #ffffff;
    position: relative;
}
.katalogSubTitle{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 200%;
    padding: 0;
    margin: 25px;
    /* identical to box height, or 34px */

    text-align: center;

    color: #4B4B4B;
}

.culomnsKatalog{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    padding: 15px;
    align-items: center;
    justify-content: center; 
}
@media screen and (max-width: 1100px) {
    .katalogTitle{
        font-size: 28px;
    }
    .katalogSubTitle{
        font-size: 18px;
        line-height: 400%;

    }
}
/*---------------------------------------------------------------*/

.cardspec{
    width: 320px;
    background-color: #ffffff;
    border-radius: 30px;
    position: relative;
}
.mosh_bg{
    background-color: #ff7700;
    background-repeat: no-repeat;
    width: 30%;
    height: 30px;
    background-position: center bottom; 
    display: inline-block;
    border-radius: 20px;
    margin-left: 200px;
    margin-top:  20px;
    z-index: 1;
}
.mosh{
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    justify-content: center;
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */

    text-align: center;

    color: #FFFFFF;
}
.imgScooter{
    z-index: -1;
    margin-top: -50px;
}
.scooterName{
    font-family: 'FuturaDemi';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 120%;
/* or 34px */
padding-bottom: 0px;
margin-bottom: 0px;

color: #4B4B4B;
}
.scooterInf{
    padding-left: 20px;
}
.scooterInf table .lc{
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */
    width: 210px;
    height: 20px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
    color: #353942;
}
.scooterInf table .even{
    font-family: inter;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */
    height: 20px;
    
    
    justify-content: center;
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
    color: #353942;
}
.scooterInf table{
    padding-top: 0px;
    margin-top: 10px;
}
.scooterInf .cost{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    padding-top: 10px;
    margin: 0;
    
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
    color: #353942;
    
    opacity: 0.4;
}
.scooterInf .money{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    padding: 0;
    margin: 0;
    color: #4B4B4B;
}
.scooterInf .btn{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: normal;
    margin-top: 25px;
    width: 280px;
    height: 70px;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
    margin-top: 10px;
    
    background: linear-gradient(93.63deg, #FF1887 0%, #FF5C38 100.8%);
    border-radius: 100px;
}
.columnsKatalog{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 800px);
    justify-content: center;
    grid-gap: 10px;
    gap: 20px;
    padding-top: 15px;

    align-items: center;

}
.headColumn{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 1100px) {
    .columnsKatalog{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        justify-content: center;
        grid-gap: 10px;
        gap: 20px;
        padding-top: 15px;
    }
}
@media screen and (max-width: 800px) {
    .columnsKatalog{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 700px;
        justify-content: center;
        grid-gap: 20px;
        gap: 5px;
        padding-top: 15px;
    }
}
@media screen and (max-width: 800px) {
    .cardspec{
        width: 180px;
        background-color: #ffffff;
        border-radius: 30px;
        position: relative;
    }
    .mosh_bg{
        background-color: #ff7700;
        background-repeat: no-repeat;
        width: 35%;
        height: 20px;
        background-position: center bottom; 
        display: inline-block;
        border-radius: 20px;
        margin-left: 20px;
        margin-top:  10px;
        z-index: 1;
    }
    .mosh{
        display: flex;
        padding: 0;
        margin: 0;
        margin-top: 2px;
        justify-content: center;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        /* identical to box height, or 20px */
    
        text-align: center;
    
        color: #FFFFFF;
    }
    .imgScooter{
        margin-top: 0px;
        width: 100%;
    }
    .scooterName{
        font-size: 16px;
    }
    .scooterInf{
        padding-left: 20px;
        justify-content: center;
    }
    .scooterInf table .lc{
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 120%;
        /* or 14px */
        width: 80px;
        height: 30px;
        display: flex;
        align-items: center;
        border-top: 1px solid #ECECEC;
        border-bottom: 1px solid #ECECEC;
        color: #353942;
    }
    .scooterInf table .even{
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 120%;
        /* or 14px */
        height: 30px;
        
        
        justify-content: center;
        border-top: 1px solid #ECECEC;
        border-bottom: 1px solid #ECECEC;
        color: #353942;
    }
    .scooterInf table{
        padding-top: 0px;
        margin-top: 10px;
    }
    .cena{
        display: flex;
        align-items: center;
        width: 90%;
        justify-content: space-between;
    }
    .scooterInf .cost{
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        margin: 0;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        
        color: #353942;
        
        opacity: 0.4;
    }
    .scooterInf .money{
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        padding: 0;
        margin-top: 6px;
        color: #4B4B4B;
    }
    .scooterInf .btn{
        font-style: normal;
        font-weight: normal;
        margin-top: 25px;
        width: 155px;
        height: 40px;
        font-size: 14px;
        line-height: 120%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 30px;
        margin-top: 10px;
        margin-left: -5px;
        background: linear-gradient(93.63deg, #FF1887 0%, #FF5C38 100.8%);
        border-radius: 100px;
    }
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
.podbor{
    margin-top: 100px;
    padding-bottom: 350px; 
    width: 100%;

}
.headColumnsPodbor {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 150px;
}
.podbor{
    background-image: url('img/main/podbor.png');
    background-position: center;
    background-repeat: repeat-y;
    background-size: 100% 100%;
}
.podbor .podborTitle{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 120%;
    /* or 65px */
    padding-top: 60px;
    text-align: center;
    padding-bottom: 0px;
    margin: 0;
    color: #FFFFFF;
}
.podbor .podborSubTitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    /* or 34px */
    margin-top: 10px;
    text-align: center;

    color: #FFFFFF;
}
.columnsPodbor .column1 .bg, .columnsPodbor .column2 .bg, .columnsPodbor .column3 .bg{
    width: 275px;
    height: 275px;
    border-radius: 100%;
    z-index: -1;
    border: 1px solid #FF1887;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.184211) 44.79%, rgba(0, 0, 0, 0.6) 100%);
}
.columnsPodbor .column4 .bg{
    width: 305px;
    height: 305px;
    background-image: url("img/main/podbor/4.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    border: 0;
    margin-top: -30px;
}
.columnsPodbor img{
    margin-top: -180px;
    padding-bottom: 0;
}

.columnsPodbor .column2 img{
    margin-left: -50px;
}
.columnsPodbor .podborText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: -40px;
    /* or 22px */

    text-align: center;

    color: #FFFFFF;
}
.columnsPodbor .podborText .br1{
    color: #FFC700;
}
.columnsPodbor {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  text-align: center;

}
@media screen and (max-width: 1100px) {
    .podbor {
        background-position: 35% center;
      }
    .podbor {
          background-size: auto 100%;
    }  
    .podbor .podborTitle{
        font-size: 26px;
    }
    .podbor .podborSubTitle{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        /* or 34px */
        margin-top: 10px;
        text-align: center;
    
        color: #FFFFFF;
    }
    .columnsPodbor .column1 .bg, .columnsPodbor .column2 .bg, .columnsPodbor .column3 .bg{
        width: 215px;
        height: 215px;
        border-radius: 100%;
        z-index: -1;
        border: 1px solid #FF1887;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.184211) 44.79%, rgba(0, 0, 0, 0.6) 100%);
    }
    .columnsPodbor .column4 .bg{
        width: 215px;
        height: 215px;
        background-image: url("img/main/podbor/4.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        border: 0;
        margin-top: -30px;
    }
    .columnsPodbor img{
        margin-top: -180px;
        padding-bottom: 0;
    }
    .columnsPodbor .column1 img, .columnsPodbor .column3 img .columnsPodbor .column4 img{
        width: 100%;

    }
    .columnsPodbor .column1{
        margin-left: 0px;
        
    }
    .columnsPodbor .column1 img{
        margin-top: -150px;
    }
    .columnsPodbor .column1 .bg{
        width: 215px;
        height: 215px;
    }
    .columnsPodbor .column2{
        margin-left: 170px;
        margin-top: 35px;
        width: 175px;
        height: 175px;
    }
    .columnsPodbor .column2 .bg{
        width: 175px;
        height: 175px;
    }
    .columnsPodbor .column2 img{
        width: 170%;
        margin-left: -60px;
        margin-top: -130px;
    }
    .columnsPodbor .column3{
        margin-left: 0px;

    }
    .columnsPodbor .column3 .bg{
        width: 180px;
        height: 180px;
    }
    .columnsPodbor .column3 img{
        margin-left: -10px;
        margin-top: -100px;
        width: 210px;
        height: 230px;
    }
    .columnsPodbor .column4{
        margin-left: 150px;
       

    }
    .columnsPodbor .podborText{
        font-size: 12px;
    }
    .columnsPodbor .podborText .br1{
        color: #FFC700;
    }
    .columnsPodbor {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 130px);
      grid-template-areas: "col1 col1" "col2 col2" "col3 col3" "col4 col4";
      gap: 20px;
      text-align: center;
    
    }
    .columnsPodbor .column1:nth-child(1) {
        grid-area: col1;
    }
    
    .columnsPodbor .column2:nth-child(2) {
        grid-area: col2;
    }
    
    .columnsPodbor .column3:nth-child(3) {
        grid-area: col3;
    }
    
    .columnsPodbor .column4:nth-child(4) {
        grid-area: col4;
    }
    
 
    
}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
.adv{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.advTitle{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 120%;
    text-align: center;
    color: #4B4B4B;
}

.columnsAdv .column{
    justify-content: center;
    text-align: center;
    z-index: 1;
    
}

.columnsAdv .columnText{
    font-family: 'FuturaBook';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #4B4B4B;
}

.columnsAdv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: (auto auto);
    grid-template-areas: 
        "col1 col2 col2 col3"
        "col4 col4 col5 col5";
    justify-items: center;
    align-items: center;
}

.columnsAdv .column:nth-child(1) {
    grid-area: col1;
}

.columnsAdv .column:nth-child(2) {
    grid-area: col2;
}

.columnsAdv .column:nth-child(3) {
    grid-area: col3;
}

.columnsAdv .column:nth-child(4) {
    grid-area: col4;
}

.columnsAdv .column5:nth-child(5) {
    grid-area: col5;
}
@media screen and (max-width: 1000px) {
    .advTitle{
        font-size: 26px;
    }

    .columnsAdv .column .columnText{
        font-size: 12px;
        
        padding: 0;
        margin: 0;
    }
    .columnsAdv .column5 .columnText{
        font-size: 12px;
        
        padding: 0;
        margin: 0;
    }
    .columnsAdv img{
        width: 50%;
        height: 50%;
    }
    .columnsAdv .column5 img{
        width: 40%;
        height: 40%;
        margin-left: 120px;
    }
    .columnsAdv {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        grid-template-areas: 
            "col1 col2"
            "col3 col4"
            "col5 col5";
        gap: 20px;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        
    }
    
    .columnsAdv .column:nth-child(1) {
        grid-area: col1;
    }
    
    .columnsAdv .column:nth-child(2) {
        grid-area: col2;
    }
    
    .columnsAdv .column:nth-child(3) {
        grid-area: col3;
    }
    
    .columnsAdv .column:nth-child(4) {
        grid-area: col4;
    }
    
    .columnsAdv .column5:nth-child(5) {
        grid-area: col5;
    }
}


.feedbackTitle{
    margin-top: 150px;
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 120%;
    /* or 65px */
    text-align: center;

    color: #4B4B4B;
}
.columnsFeedback{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}
.columnsFeedback .column.butback img{
    float: right;
}
.columnsFeedback .column.butnext img{
    float: left;
}
.columnsFeedback .column{
    justify-content: center;
}
.columnsFeedback .column.imges img{
    width: 274px;
    height: 486px;
}
.columnsFeedback .column .columnText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    margin-top: 0;
    color: #353942;
}
.columnsFeedback .column .columnText .br1{
    color: #FF5C38;
    font-size: 14px;
}
@media screen and (max-width: 600px) {
    .columnsFeedback{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 5px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
    }
    .feedbackTitle{
        font-size: 26px;
    }
    .columnsFeedback .column.unvis{
        display: none;
    }
}


.questions{
    margin-top: 150px;
    background-image: url('img/main/questions/back.png');
    background-position: center;
    background-repeat: repeat-y;
    background-size: 100% 100%;
    display: block;
    justify-content: center;
}
.questionsTitle{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 120%;
    /* or 65px */
    color: #FFFFFF;
}
.questions .name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */
    align-items: center;
    text-align: right;

    color: #FFFFFF;
}
.questions .name .br1{
    font-size: 14px;
}
.columnsQuestions1 .subcolumns{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
}
.columnsQuestions1{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "col1 col1 col1 col2 col2";
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    gap: 0px;
    align-items: center;
}
.columnsQuestions1 .column.title{
    display: flex;
    justify-content: center;
}

.columnsQuestions1 .column:nth-child(1) {
    grid-area: col1;
}

.columnsQuestions1 .column:nth-child(2) {
    grid-area: col2;
}

.columnsQuestions2 .queSales{
    background: linear-gradient(90deg, #FF1887 0%, #FF5C38 100%);
    border-radius: 12px;    
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    /* or 26px */
    padding: 15px;
    width: 80%;
    color: #FFFFFF;
}
.columnsQuestions2 .tab{
    padding-top: 0;
}
.columnsQuestions2 .tab .lc{
    
    width: 650px;
    border-bottom: 1px solid #FF1887;
}
.columnsQuestions2 .tab .lc h4{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    /* or 26px */
    margin: 0;
    padding: 20px;
    padding-right: 0;
    color: #FFFFFF;
}

.columnsQuestions2 .column .dopSale{
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(20px);
    border: 1px solid #FF1887;
    border-radius: 12px; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    align-items: center;
    color: #FFFFFF;
    padding: 20px;
    
}
.columnsQuestions2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "col1 col1 col2";
    gap: 0px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}
.columnsQuestions2 .column:nth-child(1) {
    grid-area: col1;
}

.columnsQuestions2 .column:nth-child(2) {
    grid-area: col2;
}
.columnsQuestions2 .column.dop{

    justify-content: center;
}
.columnsQuestions2 .column .dopSale{
    display: none;
}
.columnsQuestions2 .column.dop .dopSale{
    display: block;
}
@media screen and (max-width: 1000px) {
    .questions {
        background-position: 50% center;
      }
    .questions {
          background-size: auto 100%;
    }


    .questionsTitle{
        font-size: 36px;
    }
    .columnsQuestions1 .column.title{
        display: block;
    }
    .questions .name{
        font-size: 20px;
        text-align: left;
    }
    .questions .name .br1{
        font-size: 18px;
    }
    .columnsQuestions1 .subcolumns img{
        width: 70px;
        height: 70px;
        float: right;
    }
    .columnsQuestions1 .subcolumns{
        display: grid;
        grid-template-columns: repeat(7, auto);
        grid-template-areas: "col2 col1";
        gap: 10;
        align-items: center;
        
    }
    .columnsQuestions1 .subcolumns .subcolumn:nth-child(1) {
        grid-area: col1;
    }
    
    .columnsQuestions1 .subcolumns .subcolumn:nth-child(2) {
        grid-area: col2;
    }
    .columnsQuestions1{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 80px);
        grid-template-areas: "col1" "col2";
        width: 70%;
        padding-top: 50px;
        margin-left: auto;
        margin-right: auto;
        gap: 0px;
        align-items: center;
    }

    
    .columnsQuestions2 .queSales{
        font-size: 16px;
        width: 90%;
    }
    .columnsQuestions2 .tab{
        padding-top: 0;
    }
    .columnsQuestions2 .tab .lc{
        
        width: 335px;
        border-bottom: 1px solid #FF1887;
    }
    .columnsQuestions2 .tab .lc h4{
        font-size: 16px;
        padding: 10px;
    }
    
    .columnsQuestions2 .column .dopSale{
        font-size: 14px;
        
    }
    .columnsQuestions2{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "col1";
        gap: 0px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 100px;
    }
    .columnsQuestions2 .column:nth-child(1) {
        grid-area: col1;
    }
    
    .columnsQuestions2 .column:nth-child(2) {
        grid-area: col2;
    }
    .columnsQuestions2 .column .dopSale{
        display: block;
    }
    .columnsQuestions2 .column.dop{
        display: none;
    }
}
@media screen and (max-width: 800px) {
    .questionsTitle{
        font-size: 25px;
    }
    .questions .name{
        font-size: 12px;
        text-align: left;
    }
    .questions .name .br1{
        font-size: 11px;
    }
    .columnsQuestions1 .subcolumns img{
        width: 42px;
        height: 42px;
        float: right;
    }
}
@media screen and (max-width: 400px) {
    .questionsTitle{
        font-size: 19px;
    }
    .questions .name{
        font-size: 12px;
        text-align: left;
    }
    .questions .name .br1{
        font-size: 11px;
    }
    .columnsQuestions1 .subcolumns img{
        width: 42px;
        height: 42px;
        float: right;
    }
}


.testDr{
    background-image: url('img/main/test_drive/back.png');
    background-position: center;
    background-repeat: repeat-y;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
}
.testDrTitle{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    margin-right: 0;
    padding-right: 0;
    line-height: 120%;
    color: #4B4B4B;
    margin-bottom: 0;
}
.testDrTitle .br1{
    color: #FF5C38;
}
.testDrText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    color: #333333;
    width: 40%;
}
.testDrInf{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}

.testDrFormBg{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    
}
.testDrForm{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 100px;
    grid-template-areas: "col1 col2" "col3 col4" "col5 col6";
    gap: 10px;
    justify-content: center;
    padding-left: 50px;
    padding-bottom: 50px;
}
.testDrForm .column:nth-child(1) {
    grid-area: col1;
}
.testDrForm .column:nth-child(2) {
    grid-area: col2;
}
.testDrForm .column:nth-child(3) {
    grid-area: col3;
}
.testDrForm .column:nth-child(4) {
    grid-area: col4;
}
.testDrForm .column:nth-child(5) {
    grid-area: col5;
}

.testDrForm .column:nth-child(6) {
    grid-area: col6;
}
.testDrFormTitle{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    /* or 34px */
    margin-bottom: 0;
    color: #4B4B4B;
}
.testDrFormText1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    align-items: center;
    
    color: #333333;
}
.testDrFormText2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */

    color: #676767;
}
.testDrFormText3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */

    color: #676767;
}
.testDrForm img{
    width: 255px;
    height: 418px;
    margin-top: -250px;
    float: right;
}
.testDrForm input{
    font-family: 'FuturaDemi';
    width: 90%;
    height: 72px;
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid #676767;
}
.testDrInf .btn{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: normal;
    margin-top: 25px;
    width: 90%;
    height: 70px;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
    margin-top: 10px;
    background: linear-gradient(93.63deg, #FF1887 0%, #FF5C38 100.8%);
    border-radius: 100px;
}
@media screen and (max-width: 1100px) {
    .testDr {
        background-position: 50% center;
      }
    .testDr {
          background-size: auto 100%;
    }

    .testDrTitle{
        margin-top: 100px;
        font-size: 28px;
    }
    .testDrText{
        font-size: 16px;
        width: 80%;
    }
    .testDrFormTitle{
        font-size: 22px;
    }
    .testDrFormText1{
        font-size: 14px;
    }
    .testDrFormText2{
        font-size: 14px;
    }
    .testDrFormText3{
        font-size: 14px;
    }
    .testDrFormBg{
        width: 80%;
    }
    .testDrFormBg{
        height: 50%;
        width: 100%;
        
    }
    .testDrForm{
        display: grid;
        grid-template-columns: repeat(1, auto);
        padding: 0px;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: "col1" "col3" "col4" "col6" "col5" "col2";
        gap: 10px;
        width: 90%;
        justify-content: center;
        padding-left: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .testDrForm input{
        display: flex;
        width: 90%;
        height: 72px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .testDrInf .btn{
        font-family: 'FuturaDemi';
        font-style: normal;
        font-weight: normal;
        margin-top: 25px;
        width: 90%;
        height: 70px;
        font-size: 22px;
        line-height: 120%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 0px;
        margin-top: 10px;
        background: linear-gradient(93.63deg, #FF1887 0%, #FF5C38 100.8%);
        border-radius: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .testDrForm img{
        width: 186px;
        height: 305px;
        margin-top: 0px;
        float: right;
    }
    .testDrForm .column1:nth-child(1) {
        grid-area: col1;
    }
    .testDrForm .column2:nth-child(2) {
        grid-area: col2;
    }
    .testDrForm .column3:nth-child(3) {
        grid-area: col3;
    }
    .testDrForm .column4:nth-child(4) {
        grid-area: col4;
    }
    .testDrForm .column5:nth-child(5) {
        grid-area: col5;
    }
    .testDrForm .column6:nth-child(6) {
        grid-area: col6;
    }
    .testDrForm .column1{
        grid-row: 1;
    }
    .testDrForm .column2{
        grid-row: 6;
    }
    .testDrForm .column3{
        grid-row: 2;
    }
    .testDrForm .column4{
        grid-row: 3;
    }
    .testDrForm .column5{
        grid-row: 5;
    }
    .testDrForm .column6{
        grid-row: 4;
    }
    .testDrForm .column2{
        margin: 0;
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
}






footer {
    width: 100%;
    height: 15%;
    display: block;
    justify-content: center;
    font-size: 3em;
    position: fixed;
    top:0px;
    position: relative;
    background-color: #3C3D46;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 980px) {
    footer {
        
        height: 5%;
        font-size: 1.5em;
    }
    
}
@media screen and (max-width: 768px) {
footer {
    height: 10%;
    font-size: 2em;
}
}
footer .columnsHeader{
    height: 100px;
}


/*---------------------------------------------------------------*/
footer .columnsHeader .column1 .textCol .mobistor{
    font-family: 'FuturaExtra';
    font-weight: 800;
    font-size: 32px;
    text-transform: uppercase;
    color: #ffffff;

}
footer .columnsHeader .column1 .textCol .scooters{
    font-family: 'FuturaBold';
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #F55522;

}
/*---------------------------------------------------------------*/

footer .columnsHeader .column2 .textCol .br1{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;

    color: #ffffff;
}
footer .columnsHeader .column2 .textCol .br2{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
}
footer .columnsHeader .column2 .textCol .br3{
    font-family: 'FuturaBook';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #FF5C38;
}
/*---------------------------------------------------------------*/
footer .columnsHeader .column3 .textCol .br1{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'FuturaBold';
    font-size: 12px;


}
footer .columnsHeader .column3 .textCol .br2{
    width: 130px;
    font-family: inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
}
/*---------------------------------------------------------------*/

footer .columnsHeader .column5 .textCol .br1{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    text-transform: uppercase;
    color: #ffffff;


}
footer .columnsHeader .column5 .textCol .br2{
    color: #ffffff;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: right;

    text-align: center;

}

footer .columnsHeader{
    border-bottom: 1px solid #C4C4C4;
}
footer .columnsHeader .column4 .masenger{
    width: 42px;
    height: 42px;
    border-radius: 100px;
}
footer .columnsHeader .column4 .masenger:hover{
    border:1px solid #FF8329
}
@media screen and (max-width: 980px) {
    
    footer .columnsHeader {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "col1" "col2" "col3" "col4" "col5";
        gap: 20px;
        height: 500px;
        padding-top: 20px;
    }
    footer .column1:nth-child(1) {
        grid-area: col1;
    }
    footer .column2:nth-child(2) {
        grid-area: col2;
    }
    footer .column3:nth-child(3) {
        grid-area: col3;
    }
    footer .column4:nth-child(4) {
        grid-area: col4;
    }
    footer .column5:nth-child(5) {
        grid-area: col5;
    }
    footer .columnsHeader .column5{
        display: block;
        padding-bottom: 50px;
    }
    footer .columnsHeader .column5 img{
        display: block;
        margin-right: auto;
        margin-left: auto;
        
    }
    footer .columnsHeader .column5 .textCol{
        margin-top: 10px;
        display: block;
        margin-left: 0;
        margin-right: auto;
        margin-left: auto;
        line-height: 50%;
    }
    footer .columnsHeader .column3{
        display: block;
    }
    footer .columnsHeader .column3 img{
        display: block;
        margin-right: auto;
        margin-left: auto;
        
    }
    footer .columnsHeader .column4 .masenger{
        margin-right: 0;
    }
    footer .columnsHeader .column4 .masenger:hover{
        color:#FF8329
    }
    footer .columnsHeader .column4{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:10px;
       
    }
    footer .columnsHeader .column3 .textCol{
        margin-top: 10px;
        display: block;
        margin-left: 0;
        margin-right: auto;
        margin-left: auto;
        line-height: 50%;
        text-align: center;
    }
    .brUnvis{
        display: none;
    }
    footer .columnsHeader .column2 .textCol{
        text-align: center;
        line-height: 50%;
    }
    footer .columnsHeader .column1 .textCol{
        text-align: center;
        line-height: 80%;
    }
}

footer .endColumn{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "col1 col1 col2 col2";
    justify-content: center;
    align-items: center;
}
footer .endColumn .column:nth-child(1) {
    grid-area: col1;
}
footer .endColumn .column:nth-child(2) {
    grid-area: col2;
}
footer .endColumn .column h4{
    text-align: center;
}
footer .endColumn .nepodcherk{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 140%;
/* identical to box height, or 17px */

color: #FFFFFF;

opacity: 0.43;
}
footer .endColumn .podcherk{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 140%;
/* identical to box height, or 17px */
text-decoration-line: underline;

color: #FFFFFF;

opacity: 0.43;
}

@media screen and (max-width: 980px) {
    footer .endColumn{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto auto;
        grid-template-areas: "col1" "col2";
        justify-content: center;
        align-items: center;
    }
    footer .endColumn .column:nth-child(1) {
        grid-area: col1;
    }
    footer .endColumn .column:nth-child(2) {
        grid-area: col2;
    }
}