html {
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'FuturaBold';
    src: url('fonts/FuturaPT/FuturaPT-Bold.woff') format('woff'); /* Подключение WOFF-шрифта */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaDemi';
    src: url('fonts/FuturaPT/FuturaPT-Demi.woff') format('woff'); /* Подключение WOFF-шрифта */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaExtra';
    src: url('fonts/FuturaPT/FuturaPT-ExtraBold.woff') format('woff'); /* Подключение WOFF-шрифта */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaBook';
    src: url('fonts/FuturaPT/FuturaPT-Book.woff') format('woff'); /* Подключение WOFF-шрифта */
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
.btn{
    border:0;
    cursor: pointer;

}
body{
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
}
header {
    width: 100%;
    height: 15%;
    display: block;
    justify-content: center;
    font-size: 3em;
    position: fixed;
    top:0px;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
header {
    height: 10%;
    font-size: 2em;
}
}

@media screen and (max-width: 480px) {
header {
    
    height: 5%;
    font-size: 1.5em;
}
}
/* .columns-header {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    width: 100%;
    gap: 30px;
    padding: 0 0 0 20px;
    margin-top: 0px;
    height: 55px;
    justify-content: center; 
   
} */
.columns-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "col1 col2 col3 col4 col5";
    justify-items: center;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}



/*---------------------------------------------------------------*/
.columns-header-item1 .columns-header-text{
    margin: 0;
    height: 55px;
    line-height: 0.5;
    margin-top: 10px;
    
}
.columns-header-item1 .columns-header-text .mobistor{
    font-family: 'FuturaExtra';
    font-weight: 800;
    font-size: 32px;
    text-transform: uppercase;
    color: #2F2C2D;

}
.columns-header-item1 .columns-header-text .scooters{
    font-family: 'FuturaBold';
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #F55522;

}
/*---------------------------------------------------------------*/
.columns-header-item2 .columns-header-text{
    margin: 0;
    height: 55px;
    line-height: 0.2;

}
.columns-header-item2 .columns-header-text .columns-header-line1{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;

    color: #353942;
}
.columns-header-item2 .columns-header-text .columns-header-line2{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #353942;
}
.columns-header-item2 .columns-header-text .columns-header-line3{
    font-family: 'FuturaBook';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #FF5C38;
}
/*---------------------------------------------------------------*/
.columns-header-item3{
    display: flex;
    align-items: center;
}
.columns-header-item3 .columns-header-text{
    margin: 0;
    
    line-height: 0.2;
    margin-left: 20px;
}
.columns-header-item3 .columns-header-text .columns-header-line1{
    color: #353942;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'FuturaBold';
    font-size: 12px;


}
.columns-header-item3 .columns-header-text .columns-header-line2{
    width: 130px;
    font-family: 'Inter', sans-serif;
;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    font-weight: 400;

}
/*---------------------------------------------------------------*/

.columns-header-item4{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.columns-header-item4 .masenger{
    margin-right: 10px
}
.columns-header-item4 .masenger{
    width: 42px;
    height: 42px;
    border-radius: 100px;
}
.columns-header-item4 .masenger:hover{
    border:1px solid #FF8329
}
.columns-header-item4 .masenger.call{
    display: none;
}
/*---------------------------------------------------------------*/

.columns-header-item5{
    display: flex;
    align-items: center;
}
.columns-header-item5 .columns-header-text{
    line-height: 0.2;
    margin: 0;
    margin-left: 20px;

}
.columns-header-item5 .columns-header-text .columns-header-line1{
    font-family: 'FuturaBold';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    text-transform: uppercase;
    color: #353942;


}
.columns-header-item5 .columns-header-text .columns-header-line2{

    font-family: 'Inter', sans-serif;
;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: right;
    color: #353942;
    text-align: center;

}
.columns-header {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}


@media screen and (max-width: 980px) {
    header {
        
        height: 5%;
        font-size: 1.5em;
    }
    header .columns-header-item3 .columns-header-text{
        margin: 0;
        line-height: 0.6;
        margin-left: 10px;
    }
    header .columns-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    header .columns-header-item4 {
        grid-column: 1;
        grid-row: 1;
      }
      
    header .columns-header-item3 {
        grid-column: 2;
        grid-row: 1;
    }
    header .columns-header .columns-header-item3 .columns-header-line1{
        display: none;
    }
    header .columns-header-item3 .columns-header-text{
        margin-top: -6px;
    }
    header .columns-header .columns-header-item1{
        display: none;

    }
    header .columns-header .columns-header-item2{
        display: none;
    }
    header .columns-header .columns-header-item5{
        display: none;

    }
    header .columns-header .columns-header-item4 .masenger.call{
        display: block;
    }
    header .columns-header-item4 .masenger img{
        width: 42px;
        height: 42px;
    }
    header .columns-header-item4 .masenger{
        width: 42px;
        height: 42px;
    }
}
@media screen and (max-width: 500px) {
    header .columns-header-item4{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap:5px;
        text-align: center;
        justify-content: center;
        margin-top: 18px;
    }
    header .columns-header-item4 .masenger {
        margin-right: 0;
    }
    header .columns-header-item4 .masenger img{
        width: 40px;
        height: 40px;
    }
    header .columns-header-item4 .masenger{
        width: 40px;
        height: 40px;
    }
    header .columns-header-item3 img.map{
        width: 17px;
        height: 22px;
    }
    header .columns-header-item3{
        margin-top: 5px;
    }
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

.headerNav{
    justify-content: center;
    width: 100%;
    height: 42px;
    margin-top: 15px;
    border-top: solid 1px #C4C4C4;
    border-bottom: solid 1px #C4C4C4;

}
.topnav{
    background-color: #ffffff;
    font-size: 14px;
    margin-top: 11px;
    text-align: center;
}
.topnav a{
    text-align: center;
    padding: 16px 16px;
    font-family: 'FuturaBook';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
    color: #353942;
    text-decoration: none;
}
.topnav a:hover{
    color: #FF8329;
}
.headerNav .columns-header-item3{
    display: none;
}
.headerNav .columns-header-item1{
    display: none;

}
.headerNav .columns-header-item2{
    display: none;
}
@media screen and (max-width: 780px) {
    header .headerNav .columns-header {
        height: 70px;
        background-color: #ffffff;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-areas: "col1 col1 col1 col2 col2 col2 col3";
        gap: 0px;
        justify-items: center;
        align-items: center;
        margin-top: 10px;
        padding-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;

    }
    .headerNav{
        height: 80px;
        border-bottom: 1px solid #C4C4C4;
    }
    .headerNav .columns-header-item1:nth-child(1) {
        grid-area: col1;
    }
    
    .headerNav .columns-header-item2:nth-child(2) {
        grid-area: col2;
    }
    
    .headerNav .columns-header-item3:nth-child(3) {
        grid-area: col3;
    }
    .headerNav .columns-header-item2 {
        grid-column: 2;
        grid-row: 1;
      }
      
    header .headerNav .columns-header-item3 {
        grid-column: 3;
        grid-row: 1;
    }
    header .headerNav .columns-header-item1{
        display: block;
        
    }
    .columns-header-item1 .columns-header-text .mobistor{
        font-size: 24px;
    }
    .columns-header-item1 .columns-header-text .scooters{
        font-size: 18px;
    }
    .headerNav .columns-header-item1 .columns-header-text{
        line-height: 20px;
        margin-top: 5px;
    }
    header .headerNav .columns-header-item2{
        display: block;
    }
    header .headerNav .columns-header-item2 .columns-header-text{
        line-height: 10px;
    }
    .headerNav .columns-header-item2 .columns-header-line1{
        line-height: 10px;
        font-size: 12px;
    }
    .headerNav .columns-header-item2 .columns-header-line2{
        line-height: 10px;
        font-size: 12px;
    }
    .headerNav .columns-header-item2 .columns-header-line3{
        line-height: 10px;
        font-size: 10px;
    }
    header .headerNav .columns-header-item3{
        display: block;
        width: 50px;
    }
    header .columns-header .menu1{
        display: none;
    }
    .headerNav .columns-header-item3{
        margin-top: -3px;
    }
/* ------------------------------------------------------------- */

    .topnav a{
        display: none;
    }
    .topnav .icon.row{
        flex-wrap: nowrap;
        float: right;
        margin-top: 5px;
        display: flex;
        color: black;
    }
    nav{
        width: 100%;
        height: 70px;
    }
    .topnav.responsive{
        position: relative;
        margin-top: 0;
    }
    
    .topnav.responsive a{
        border-bottom: solid 1px #C4C4C4;
        border-top: solid 1px #C4C4C4;
        text-align: center;
        float: none;
        display: block;
        text-align: left;
        background: #fff;
        z-index: 1;
        position: relative;
    }
    .headerNav .columns-header-item3.responsive .menu1{
        display: none;
    }
    .headerNav .columns-header-item3.responsive .menu2{
        display: block;
    }
    .headerNav .columns-header-item3 .menu2{
        display: none;
    }
    .headerNav .columns-header-item3 .menu1{
        display: block;
    }
    

}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
.original{
    margin-top: 0;
    width: 100%;
    height: 750px;
    overflow-x: hidden;

}
.original{
    background-image: url('img/main/original.png.svg');
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}

  
.original-kontent{
    padding: 50px 90px;
    max-width: 1300px;
}
/*---------------------------------------------------------------*/
.original-kontent .original-text1{
    margin-top: 0px;
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    margin-bottom: 10px;
    line-height: 100%;
    color: #4B4B4B;

}
.original-kontent .original-text1 span{
    color: #FFFFFF;
    background-image: url("img/main/line.png.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center bottom; 
    display: inline-block;
    padding: 10px;
}
/*---------------------------------------------------------------*/
.original-kontent .original-text2{
    font-family: 'FuturaBook';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 120%;
    color: #4B4B4B;
    margin: 0;
}
.original-kontent .btn{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: normal;
    margin-top: 25px;
    width: 280px;
    height: 70px;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(93.63deg, #FF1887 0%, #FF5C38 100.8%);
    border-radius: 100px;
}
.original-kontent .btn:hover{
    box-shadow: 0px 0px 60px rgba(228, 117, 73, 0.734);
}
.unVisOrig .original-text1{
    display: none;
}
.unVisOrig .original-text2{
    display: none;
}
.unVisOrig .btn{
    display: none;
}
@media screen and (max-width: 1067px) {
    .original {
      background-position: 90% center;
    }
    .original{
        background-size: auto 100%;
    }
    .original-kontent .original-text1{
        padding: 0;
        text-align: center;
    }
    .unVisOrig .original-kontent{
        padding: 0;
    }
    .original-kontent .original-text2{

        padding: 0;
        text-align: center;
        font-size: 24px;
    }
    .original-kontent .original-text1{
        font-size: 38px;
    }
    .original-kontent .original-text2{
        font-size: 24px;
    }
    .original .original-text1{
        visibility: hidden;
    }
    .original .original-text2{
        visibility: hidden;
    }
    .original .btn{
        display: none;
        visibility: hidden;
    }
    .unVisOrig{
        justify-content: center;
    }
    .unVisOrig .original-text1{
        display: block;
        margin-top: -40px;
    }
    .unVisOrig .original-text2{
        display: block;
    }
    .unVisOrig .btn{
        display: block;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }

}
@media screen and (max-width: 767px) {
    .original {
        height: 30%;
    }
    
  
}




/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/



.pluses{
    background: linear-gradient(111.58deg, #F9E7E7 0%, #FFE8D7 100%);
    border-radius: 20px;
    border: 1.5px solid #ff7700;
    width: 80%;
    margin-top:-250px;
    display: fixed;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    max-width: 1300px;
    display: flex;
    justify-content: center;

    
}

.pluses-columns{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    gap: 50px;
    padding: 35px;
    justify-content: center; 
    border-radius: 20px;

}
.pluses-columns-item1, .pluses-columns-item2, .pluses-columns-item3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pluses-columns img{
    width: 80px;
    height: 80px;
    border-radius: 100px;

}

.pluses-columns-text{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    margin-left: 10px;
    color: #353942;
}
.pluses-columns span{
    color: #FF5C38;
    font-weight: 600;
}
@media screen and (max-width: 1300px) {
    .pluses-columns{
        width: 90%;
    
    }
}
@media screen and (max-width: 1100px) {
    .pluses-columns{
        display: grid;
        gap:20px;
        
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: (3, 1fr);
    }
    .pluses{
        width: 355px;
        margin-top: 50px;
    }
    .pluses-columns img{
        width: 64px;
        height: 64px;
        border-radius: 100px;
    
    }
    .pluses-columns-item3{
        justify-content: left;
    }
    .pluses-columns-item1{
        justify-content: left;
    }
}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
.msscooter{
    background-image: url('img/main/carousel/scooters.jpg');
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    margin-top: 60px;
    padding-bottom: 70px;
    border-bottom: 2px solid #ECECEC;
}
.msScooterTitle span{
    font-family: 'FuturaDemi';
    font-size: 54px;
    color: #FF5C38;
}
.msScooterTitle{
    font-family: 'FuturaBook';
    font-size: 32px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    color: #4B4B4B;
    padding-top: 100px;
}

/*---------------------------------------------------------------*/

@media screen and (max-width: 1100px) {
    .msscooter{
        margin-top: 20px;
        padding-bottom: 40px;
    }
    .msscooter .bg{
        display: none;
    }
    .msScooterTitle span{
        text-align: center;
       
        font-size: 28px;

    }
    .msScooterTitle{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 19px;
        line-height: 30px;
        width: 338px;
        padding-top: 40px;
    }
    
}








/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/


.msscooter .owl-carousel{
    width:60%;
    margin:auto;
    background-color: transparent;
    margin-bottom: 50px;
}
.msscooter .slide img{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.msscooter .owl-nav {
    position: absolute;
    width: 100%;
    height: 0px;
    top: 35%;
    background-color: transparent;
    z-index: 999;
    justify-content: center; align-items: center;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
  }
.msscooter .owl-prev, .owl-next {
    background-color: transparent;
    
}
.msscooter .prev{
    background: transparent;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
.msscooter .prev img:hover{
    filter: drop-shadow(0px 0px 10px #ff7700);
}
.owl-theme .owl-nav [class*=owl-]:hover{
    background: transparent;
}
.msscooter .next{
    background: transparent;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
.msscooter .next img:hover{
    filter: drop-shadow(0px 0px 10px #ff7700);
}
.msscooter .owl-theme .owl-dots .owl-dot span {
    display: none;
}
.msscooter button.owl-dot.active{
    border: 1px solid black;
}
.msscooter .owl-dot{
    width: 120px;
    height: 120px;
    margin-right: 10px;
}
.msscooter .owl-dot:nth-child(1) {
    background-image: url(img/slider/1.png.svg);
    background-size: 100% 100%;
    border-radius: 100%;
}

.msscooter .owl-dot:nth-child(2) {
    background-image: url(img/slider/2.png.svg);
    background-size: 100% 100%;
    border-radius: 100%;
}

.msscooter .owl-dot:nth-child(3) {
    background-image: url(img/slider/3.png.svg);
    background-size: 100% 100%;
    border-radius: 100%;
}

.msscooter .owl-dot:nth-child(4) {
    background-image: url(img/slider/4.png.svg);
    background-size: 100% 100%;
    border-radius: 100%;
}
.msscooter .owl-dot:nth-child(5) {
    background-image: url(img/slider/5.png.svg);
    background-size: 100% 100%;
    border-radius: 100%;
}
@media screen and (max-width: 1149px) {
    .msscooter .owl-carousel{
        width:70%;
        margin:auto;
    }
    .msscooter .owl-carousel .slide img{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .msscooter .owl-dot{
        width: 100px;
        height: 100px;
    }
}
@media screen and (max-width: 900px) {
    .msscooter{
        border-bottom: 2px solid #ECECEC;
    }
    .msscooter .owl-carousel{
        width:70%;
        margin:auto;
    }
    .msscooter .owl-carousel .slide img{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .msscooter .owl-prev .prev, .owl-next .next{
        display: none;
    }
    .msscooter .owl-dot{
        width: 75px;
        height: 75px;
    }
}
@media screen and (max-width: 600px) {
    .msscooter .owl-carousel{
        width: 100%;
        margin:auto;
    }
    .msscooter .slide img{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .msscooter .owl-prev .prev, .owl-next .next{
        display: none;
    }
    .msscooter .owl-dot{
        width: 60px;
        height: 60px;
    }
}


/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
.katalog-title{
    font-family: 'FuturaDemi';
font-style: normal;
font-weight: 400;
font-size: 54px;
line-height: 120%;
/* or 65px */
margin-top: 80px;
text-align: center;
margin-bottom: 0;
color: #FF5C38;
}

.katalog-title .br1{
color: #4B4B4B;
}
.katalog-SubTitle-bg{
    width: 100%;
    font-size: 3em;
    position: fixed;
    top:0px;
    background-color: #ffffff;
    position: relative;
    
}
.katalog-SubTitle{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 200%;
    padding: 15px;
    margin: 25px;
    margin-top: 40px;
    /* identical to box height, or 34px */

    text-align: center;

    color: #4B4B4B;
}

.culomnsKatalog{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    padding: 15px;
    align-items: center;
    justify-content: center; 
}
@media screen and (max-width: 1100px) {
    .katalog-title{
        font-size: 28px;
        margin-top: 40px;
    }
    .katalog-SubTitle{
        font-size: 18px;
        line-height: 350%;
        margin: 20px;
        padding: 0px;
    }
}
/*---------------------------------------------------------------*/
.katalog-container{
    padding-bottom: 50px;
}
.katalog-card{
    width: 320px;
    min-height: 790px;
    background-color: #ffffff;
    border-radius: 30px;
    position: relative;
}
.power-bg{
    background-color: #ff7700;
    background-repeat: no-repeat;
    width: 30%;
    height: 30px;
    background-position: center bottom; 
    display: inline-block;
    border-radius: 20px;
    margin-left: 200px;
    margin-top:  20px;
    z-index: 1;
}
.power{
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    justify-content: center;
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */

    text-align: center;

    color: #FFFFFF;
}
.katalog-img{
    z-index: -1;
    margin-top: -50px;
}
.katalog-card-name{
    font-family: 'FuturaDemi';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 120%;
/* or 34px */
padding-bottom: 0px;
margin-bottom: 0px;

color: #4B4B4B;
}
.katalog-card-inf{
    padding-left: 20px;
    height: 450px;
}
.katalog-card-inf table .characteristica{
    font-family: 'Inter', sans-serif;
;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */
    width: 210px;
    height: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
    color: #353942;
}
.katalog-card-inf table tr:nth-child(1) .characteristica{
    border-top: 1px solid #ECECEC;
}

.katalog-card-inf table .value{
    font-family: 'Inter', sans-serif;
;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */
    height: 20px;
    justify-content: center;
    border-bottom: 1px solid #ECECEC;
    color: #353942;
}
.katalog-card-inf table tr:nth-child(1) .value{
    border-top: 1px solid #ECECEC;
}
/* .katalog-card-inf table .value:nth-child(1){
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
} */
.katalog-card-inf table{
    padding-top: 0px;
    margin-top: 10px;
}
.katalog-card-inf .cost{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    padding-top: 10px;
    margin: 0;
    
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
    color: #353942;
    
    opacity: 0.4;
}
.katalog-card-inf .money{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    padding: 0;
    margin: 0;
    color: #4B4B4B;
}
.katalog-card-inf .btn{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: normal;
    /* margin-top: 25px; */
    width: 280px;
    height: 70px;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    /* margin-bottom: 30px; */
    position: absolute;
    bottom: 5%;
    background: linear-gradient(93.63deg, #FF1887 0%, #FF5C38 100.8%);
    border-radius: 100px;
    box-shadow: 0px 0px 10px rgba(228, 117, 73, 0.734);
}
.katalog-card-inf .btn:hover{
    box-shadow: 0px 0px 40px rgba(228, 117, 73, 0.734);

}
.katalog-columns{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 800px);
    justify-content: center;
    grid-gap: 10px;
    gap: 20px;
    padding-top: 15px;

    align-items: center;

}
.katalog-container{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 1100px) {
    .katalog-columns{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        justify-content: center;
        grid-gap: 10px;
        gap: 20px;
        padding-top: 15px;
    }
}
@media screen and (max-width: 800px) {
    .katalog-columns{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 700px;
        justify-content: center;
        grid-gap: 20px;
        gap: 5px;
        padding-top: 15px;
    }
}
@media screen and (max-width: 800px) {
    .katalog-card{
        width: 180px;
        height: 603px;
        min-height: 650px;
        background-color: #ffffff;
        border-radius: 30px;
        position: relative;
    }
    .power-bg{
        width: 35%;
        height: 20px;
        border-radius: 20px;
        margin-left: 20px;
        margin-top:  10px;
        z-index: 1;
    }
    .power{
        display: flex;
        padding: 0;
        margin: 0;
        margin-top: 2px;
        font-size: 12px;
    }
    .katalog-img{
        margin-top: 0px;
        width: 100%;
    }
    .katalog-card-name{
        font-size: 16px;
    }
    .katalog-card-inf{
        padding-left: 20px;
        justify-content: center;

    }
    .katalog-card-inf table .characteristica{
        font-size: 10px;
        width: 80px;
        height: 30px;
        display: flex;
        align-items: center;
    }
    .katalog-card-inf table .value{
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        height: 30px;
    }
    .katalog-card-inf table{
        padding-top: 0px;
        margin-top: 10px;
    }
    .katalog-price{
        display: flex;
        align-items: center;
        width: 90%;
        justify-content: space-between;
    }
    .katalog-card-inf .cost{
        font-size: 12px;
        margin: 0;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        opacity: 0.4;
    }
    .katalog-card-inf .money{
        font-size: 18px;
        line-height: 120%;
        padding: 0;
        margin-top: 6px;
    }
    .katalog-card-inf .btn{
        width: 155px;
        height: 40px;
        font-size: 14px;
        margin-left: -5px;
        bottom: 4%;
    }
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
.podbor{
    margin-top: 120px;
    padding-bottom: 200px; 
    width: 100%;
    overflow-x: hidden;

}
.podbor-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 150px;
}
.podbor{
    background-image: url('img/main/podbor.png.svg');
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}
.podbor .podbor-title{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 120%;
    /* or 65px */
    padding-top: 60px;
    text-align: center;
    padding-bottom: 0px;
    margin: 0;
    color: #FFFFFF;
}
.podbor .podbor-subTitle{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    /* or 34px */
    margin-top: 10px;
    text-align: center;

    color: #FFFFFF;
}
.podbor-columns-bg{
    width: 275px;
    height: 275px;
    border-radius: 100%;
    z-index: -1;
    border: 1px solid #FF1887;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.184211) 44.79%, rgba(0, 0, 0, 0.6) 100%);
}
.podbor-columns-item4-bg{
    width: 305px;
    height: 305px;
    background-image: url("img/main/podbor/4.png.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    border: 0;
    margin-top: -30px;
    cursor: pointer;
}
.podbor-columns img{
    padding-bottom: 0;
}
.podbor-columns-item2 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
}
.podbor-columns-item1 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -150px;
}
.podbor-columns-item3 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -120px;
}
.podbor-columns-text{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
    /* or 22px */
    
    text-align: center;

    color: #FFFFFF;
}
.podbor-columns-item2 .podbor-columns-text{
    margin-top: -30px;
}
.podbor-columns-item3 .podbor-columns-text{
    margin-top: -10px;
}
.podbor-columns-text .podbor-columns-line{
    color: #FFC700;
    font-weight: 700;
}
.podbor-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  text-align: center;

}
@media screen and (max-width: 1100px) {
    .podbor {
        background-position: 35% center;
        background-size: auto 100%;
        margin-top: 0px;
        padding-bottom: 150px;
    }
    .podbor .podbor-title{
        font-size: 26px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .podbor .podbor-subTitle{
        font-size: 18px;
        margin-top: 10px;
    }
    .podbor-columns-bg{
        width: 215px;
        height: 215px;
        border-radius: 100%;
        z-index: -1;
        border: 1px solid #FF1887;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.184211) 44.79%, rgba(0, 0, 0, 0.6) 100%);
    }
    .podbor-columns-item4-bg{
        width: 215px;
        height: 215px;
        border: 0;
        margin-top: -30px;
    }
    .podbor-columns img{
        margin-top: -180px;
        padding-bottom: 0;
    }
    
    .podbor-columns-item1{
        margin-left: 0px;
        
    }
    .podbor-columns-item1 img{
        margin-top: -110px;
        width: 154px;
        height: 200px;
    }
    .podbor-columns-item1 .podbor-columns-bg{
        width: 215px;
        height: 215px;
    }
    .podbor-columns-item2{
        margin-left: 170px;
        margin-top: 35px;
        width: 175px;
        height: 175px;
    }
    .podbor-columns-item2 .podbor-columns-bg{
        width: 175px;
        height: 175px;
    }
    .podbor-columns-item2 img{
        width: 210px;
        height: 180px;
        margin-top: -70px;
    }
    .podbor-columns-item3{
        margin-left: 0px;

    }
    .podbor-columns-item3 .podbor-columns-bg{
        width: 180px;
        height: 180px;
    }
    .podbor-columns-item3 img{
        margin-top: -70px;
        width: 120px;
        height: 150px;
    }
    .podbor-columns-item4{
        margin-left: 150px;
       

    }
    .podbor-columns-text{
        font-size: 12px;
    }

    .podbor-columns {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 130px);
      grid-template-areas: "col1 col1" "col2 col2" "col3 col3" "col4 col4";
      gap: 20px;
      text-align: center;
    
    }
    .podbor-columns-item1:nth-child(1) {
        grid-area: col1;
    }
    
    .podbor-columns-item2:nth-child(2) {
        grid-area: col2;
    }
    
    .podbor-columns-item3:nth-child(3) {
        grid-area: col3;
    }
    
    .podbor-columns-item4:nth-child(4) {
        grid-area: col4;
    }
    
 
    
}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
.advantages{
    margin-left: auto;
    margin-right: auto;
    max-width: 1350px;
    padding-bottom: 120px;
    border-bottom: 1px solid #ECECEC;
}
.advantages-title{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 120%;
    text-align: center;
    color: #4B4B4B;
    margin-top: 120px;
}


@media screen and (max-width: 1000px) {
    .advantages-title{
        font-size: 26px;
        margin-top: 40px;
    }
    .advantages{
        padding-bottom: 40px;
    }

}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
.adv-columns{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "col1 col2 col2 col3"
                         "col4 col5 col5 col6"
                         "col7 col7 col8 col8"
                         "col9 col9 col10 col10";
    width: 90%;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    row-gap: 10px;
   
}
.adv-columns h4{
    font-family: 'FuturaBook';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    /* or 22px */
    text-align: center;
    width: 320px;
    color: #4B4B4B;
}
.adv-columns-item:nth-child(1) {
    grid-area: col1;
    align-items: center;
}

.adv-columns-item:nth-child(2) {
    grid-area: col2;
    align-items: center;
    display: flex;
    vertical-align: middle;
}

.adv-columns-item:nth-child(3) {
    grid-area: col3;
    align-items: center;
}

.adv-columns-item:nth-child(4) {
    grid-area: col4;
}

.adv-columns-item:nth-child(5) {
    grid-area: col5;
}
.adv-columns-item:nth-child(6) {
    grid-area: col6;
}

.adv-columns-item:nth-child(7) {
    grid-area: col7;
    align-items: center;
}

.adv-columns-item:nth-child(8) {
    grid-area: col8;
    align-items: center;
}

.adv-columns-item:nth-child(9) {
    grid-area: col9;
}

.adv-columns-item:nth-child(10) {
    grid-area: col10;
}
@media screen and (max-width: 1250px) {
    .adv-columns{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto auto;
        grid-template-areas: "col1 col2"
                             "col4 col5"
                             "col3 col7"
                             "col6 col9"
                             "col8 col8"
                             "col10 col10";
        width: 80%;
        gap: 20px;
        row-gap: 0px;
        justify-items: center;
        
        
       
    }
}
@media screen and (max-width: 800px) {
    .adv-columns h4{
        font-size: 12px;
        width: 130px;
    }
    .adv-columns-item img{
        width: 120px;
    }

    .adv-columns-item:nth-child(8) h4{
        width: 50%;
        
    }
    .adv-columns{
        margin-left: auto;
        margin-right: auto;
    }
    .adv-columns-item:nth-child(1) {
    grid-area: col1;
    align-items: center;
}

.adv-columns-item:nth-child(2) {
    grid-area: col2;
    display: flex;
    vertical-align: middle;
}

.adv-columns-item:nth-child(3) {
    grid-area: col3;
    display: flex;
    vertical-align: middle;
}

.adv-columns-item:nth-child(4) {
    grid-area: col4;
}

.adv-columns-item:nth-child(5) {
    grid-area: col5;
}
.adv-columns-item:nth-child(6) {
    grid-area: col6;
}

.adv-columns-item:nth-child(7) {
    grid-area: col7;
    display: flex;
    vertical-align: middle;
}

.adv-columns-item:nth-child(8) {
    grid-area: col8;
    display: flex;
    vertical-align: middle;
}

.adv-columns-item:nth-child(9) {
    grid-area: col9;
}

.adv-columns-item:nth-child(10) {
    grid-area: col10;
}
}
@media screen and (max-width: 800px) {
    .adv-columns{
        gap: 5px;
        row-gap: 0px;
    }
}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
.feedback{
    height: 500px;
    max-width: 1300px;
    padding-bottom: 100px;
    overflow-x: hidden;
}


@media screen and (max-width: 600px) {
    /* .feedback .columnsFeedback{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 5px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
    } */
    .feedback .feedbackTitle{
        font-size: 26px;
        
    }
    .feedback .columnsFeedback .column.unvis{
        display: none;
    }
}



.feedBack .feedbackTitle{
    margin-top: 120px;
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 120%;
    /* or 65px */
    text-align: center;

    color: #4B4B4B;
}

.feedBack .owl-carousel{
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
}
.feedBack .slide.first {
    opacity: 1;
}

.feedBack .column.imges img{
    width: 274px;
    height: 486px;
}
.feedBack .column.imges{
    display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
}
.feedBack .column.imges .columnText{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    margin-top: -10px;
    align-items: center;
    text-align: center;

    color: #353942;
}
.feedBack .column.imges .columnText span{
    color: #FF5C38;
}
.feedBack .owl-nav {
    position: absolute;
    width: 100%;
    height: 0px;
    top: 40%;
    background-color: transparent;
    z-index: 999;
    justify-content: center;
    align-items: center;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
  }
.feedBack .owl-prev, .owl-next {
    background-color: transparent;
}
.feedBack .owl-prev .prev{
    background: none;
    cursor: pointer;
    border: none;
}
.feedBack .owl-prev .prev:hover{
    filter: drop-shadow(0px 0px 10px #ff7700);
}
.feedBack .owl-next .next{
    background: none;
    cursor: pointer;
    border: none;
}
.feedBack .owl-next .next:hover{
    filter: drop-shadow(0px 0px 10px #ff7700);
}
.feedBack{
    overflow-x: hidden;
}

@media screen and (max-width: 1300px) {
    .feedBack .owl-carousel{
        width: 100%;
        overflow-x: hidden;
    }
    .feedBack .owl-prev .prev{
        display: none;
    }
    .feedBack .owl-next .next{
        display: none;
    }
}
@media screen and (max-width: 1000px) {
    .feedBack .owl-carousel{
        width: 100%;
        overflow-x: hidden;
    }
    
}
@media screen and (max-width: 600px) {
    .feedBack .feedbackTitle{
        font-size: 26px;
        margin-top: 40px;
    }
}
@media screen and (max-width: 500px) {
    .feedBack .owl-carousel{
        width: 100%;
        overflow-x: hidden;
    }
    .feedBack .owl-prev .prev{
        display: none;
    }
    .feedBack .owl-next .next{
        display: none;
    }
}
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */




.questions{
    margin-top: 120px;
    background-image: url('img/main/questions/back.png.svg');
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    display: block;
    justify-content: center;
}
.questions-title{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 120%;
    /* or 65px */
    color: #FFFFFF;
}
.questions-subcolumns-text{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */
    align-items: center;
    text-align: right;

    color: #FFFFFF;
}
.questions-subcolumns-text .questions-subcolumns-line2{
    font-size: 14px;
}
.questions-subcolumns{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "col2 col1";
    gap: 20px;
    align-items: center;
}
.questions-subcolumns .questions-subcolumns-item:nth-child(1) {
    grid-area: col1;
}

.questions-subcolumns .questions-subcolumns-item:nth-child(2) {
    grid-area: col2;
}
.questions-columns{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "col1 col1 col1 col2 col2";
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    gap: 0px;
    align-items: center;
}


.questions-columns-item:nth-child(1) {
    grid-area: col1;
}

.questions-columns-item:nth-child(2) {
    grid-area: col2;
}

@media screen and (max-width: 1400px) {
    .questions-title{
        font-size: 45px;

    }
}
@media screen and (max-width: 1200px) {
    .questions-title{
        font-size: 38px;

    }
}
@media screen and (max-width: 1000px) {
    .questions {
        background-position: 50% center;
        margin-top: 40px;
      }
    .questions {
          background-size: auto 100%;
    }
    
    .questions-title{
        font-size: 36px;

    }
    .questions-columns-item.title{
        display: block;
        
    }
    .questions-subcolumns-text{
        font-size: 20px;
        text-align: left;
    }
    .questions-subcolumns-text .questions-subcolumns-line2{
        font-size: 18px;
    }
    .questions-subcolumns img{
        width: 70px;
        height: 70px;
        float: left;    
        
    }
    .questions-columns-item.director{
        width: 60%;
    }
    .questions-subcolumns{
        margin-top: 20px;
        display: flex
    }
    .questions-columns{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 80px);
        grid-template-areas: "col1" "col2";
        width: 85%;
        padding-top: 50px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        gap: 0px;
        align-items: center;
    }

}
@media screen and (max-width: 600px) {
    .questions-title{
        font-size: 25px;
    }
    .questions-columns{
        padding-left: 20px;
    }
    .questions-subcolumns-text{
        font-size: 14px;
        text-align: left;
    }
    .questions-subcolumns-text .questions-subcolumns-line2{
        font-size: 13px;
    }
    .questions-subcolumns img{
        width: 52px;
        height: 52px;
        float: left;
    }
    
    .questions-subcolumns{
        margin-top: 0;
    }
}
@media screen and (max-width: 400px) {
    .questions-title{
        font-size: 23px;
    }
    .questions-subcolumns img{
        width: 52px;
        height: 52px;
        float: left;
    }
}
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */

.accordionWrapper{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 200px;
}
.accordionItemHeading {
    background: transparent;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 16px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
    transition: 0.5s;
    border-bottom: 1px solid #FF1887;

}
.accordionItemHeading{
    font-family: 'FuturaDemi';
font-style: normal;
font-weight: 400;
font-size: 22px;
/* or 26px */

color: #FFFFFF;
}
.accordionItemHeading:hover{
    background: linear-gradient(90deg, #FF1887 0%, #FF5C38 100%);
}
.accordionItemHeading.active{
    background: linear-gradient(90deg, #FF1887 0%, #FF5C38 100%);
    border-radius: 12px;
    border-bottom: 0px solid #FF1887;
    margin-top: 10px;
}
.accordionItemContent {
    max-height: 0;
    
	color: #000000;
   
    width: 30%;
    overflow: hidden;
    transition: max-height 1s ease-out;   
    margin-bottom: 0;
    background-color: #000000;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(20px);
    border: 0px solid #FF1887;
    border-radius: 12px;
}
.accordionItemContent p{
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    /* or 26px */
    margin-bottom: 0;
    margin-top: 0;
    color: #FFFFFF;

}
.accordionItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 700px) {

    .accordionItemHeading{
        font-size: 16px;
        width: 90%;
    }
    
    .accordionItem{
        display: block;
        align-items: center;
        justify-content: center;
    }
    
    .accordionWrapper{
        padding-bottom: 50px;
    }
    .accordionItemContent {
        
        width: 90%;
        color: #000000;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;   
        margin-left: auto;
        margin-right: auto;
    }
    .accordionItemContent p{
        font-size: 16px;
        width: 90%;
        
    }

}



/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
.testDrive{
    background-image: url('img/main/test_drive/back.png.svg');
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.testDrive-title{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    margin-right: 0;
    padding-right: 0;
    line-height: 120%;
    color: #4B4B4B;
    margin-bottom: 0;
    margin-top: 0px;
}
.testDrive-title .testDrive-title-line1{
    color: #FF5C38;
}
.testDrive-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    color: #333333;
    width: 40%;
}
.testDriveInf{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    max-width: 1300px;
    margin-top: 120px;
}

.testDrive-form-container{
    width: 100%;
    

    background: #FFFFFF;
    border: 1px solid #ECECEC;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    
}
.testDrive-Form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 100px;
    grid-template-areas: "col1 col2" "col3 col4" "col5 col6";
    gap: 10px;
    justify-content: center;
    padding-left: 50px;
    padding-bottom: 50px;
}
.testDrive-Form-item:nth-child(1) {
    grid-area: col1;
}
.testDrive-Form-item:nth-child(2) {
    grid-area: col2;
}
.testDrive-Form-item:nth-child(3) {
    grid-area: col3;
}
.testDrive-Form-item:nth-child(4) {
    grid-area: col4;
}
.testDrive-Form-item:nth-child(5) {
    grid-area: col5;
}

.testDrive-Form-item:nth-child(6) {
    grid-area: col6;
}
.testDrive-Form-title{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    /* or 34px */
    margin-bottom: 0;
    color: #4B4B4B;
}
.testDrive-Form-text1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    align-items: center;
    
    color: #333333;
}
.testDrive-Form-text2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */

    color: #676767;
}
.testDrive-Form-text3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */

    color: #676767;
}
.testDrive-Form img{
    width: 255px;
    height: 418px;
    margin-top: -250px;
    float: right;
}
.testDrive-Form textarea{
    font-family: 'FuturaDemi';
    width: 89%;
    height: 72px;
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid #676767;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 5px;
}
::-webkit-input-placeholder {
    color: #4B4B4B;
}
.testDriveInf .btn{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: normal;
    margin-top: 25px;
    width: 90%;
    height: 70px;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
    margin-top: 10px;
    background: linear-gradient(93.63deg, #FF1887 0%, #FF5C38 100.8%);
    border-radius: 100px;
}
.testDriveInf .btn:hover{
    box-shadow: 0px 0px 20px rgba(228, 117, 73, 0.734);
}
@media screen and (max-width: 1100px) {
    .testDrive {
        background-position: 50% center;
        background-size: cover;
      }
    .testDriveInf{
        margin-top: 50px;
        padding-bottom: 50px;
    }

    .testDrive-title{
        margin-top: 0px;
        font-size: 28px;
    }
    .testDrive-text{
        font-size: 16px;
        width: 80%;
    }
    .testDrive-Form-title{
        font-size: 22px;
    }
    .testDrive-Form-text1{
        font-size: 14px;
    }
    .testDrive-Form-text2{
        font-size: 14px;
    }
    .testDrive-Form-text3{
        font-size: 14px;
    }
    .testDrive-form-container{
        width: 80%;
    }
    .testDrive-form-container{
        height: 55%;
        width: 100%;
        
    }
    .testDrive-Form{
        display: grid;
        grid-template-columns: repeat(1, auto);
        padding: 0px;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: "col1" "col3" "col4" "col6" "col5" "col2";
        gap: 10px;
        width: 90%;
        justify-content: center;
        padding-left: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .testDrive-Form textarea{
        display: flex;
        width: 90%;
        height: 72px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .testDriveInf .btn{
        margin-top: 25px;
        width: 90%;
        height: 70px;
        font-size: 22px;
        margin-bottom: 0px;
        margin-top: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .testDrive-Form-item2 img{
        width: 256px;
        height: 375px;
        margin-top: 50px;
        float: right;
    }
    .testDrive-Form-item1:nth-child(1) {
        grid-area: col1;
    }
    .testDrive-Form-item2:nth-child(2) {
        grid-area: col2;
    }
    .testDrive-Form-item3:nth-child(3) {
        grid-area: col3;
    }
    .testDrive-Form-item4:nth-child(4) {
        grid-area: col4;
    }
    .testDrive-Form-item5:nth-child(5) {
        grid-area: col5;
    }
    .testDrive-Form-item6:nth-child(6) {
        grid-area: col6;
    }
    .testDrive-Form-item1{
        grid-row: 1;
    }
    .testDrive-Form-item2{
        grid-row: 6;
    }
    .testDrive-Form-item3{
        grid-row: 2;
    }
    .testDrive-Form-item4{
        grid-row: 3;
    }
    .testDrive-Form-item5{
        grid-row: 5;
    }
    .testDrive-Form-item6{
        grid-row: 4;
    }
    .testDrive-Form-item2{
        margin: 0;
        margin-top: 0px;
        display: flex;
        justify-content: center;
    }
}


/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/


footer {
    width: 100%;
    height: 15%;
    display: block;
    justify-content: center;
    font-size: 3em;
    position: fixed;
    top:0px;
    position: relative;
    background-color: #3C3D46;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 980px) {
    footer {
        
        height: 5%;
        font-size: 1.5em;
    }
    
}
@media screen and (max-width: 768px) {
footer {
    height: 10%;
    font-size: 2em;
}
}
footer .columns-header{
    height: 100px;
}


/*---------------------------------------------------------------*/
footer .columns-header-item1 .columns-header-text .mobistor{
    font-family: 'FuturaExtra';
    font-weight: 800;
    font-size: 32px;
    text-transform: uppercase;
    color: #ffffff;

}
footer .columns-header-item1 .columns-header-text .scooters{
    font-family: 'FuturaBold';
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #F55522;

}
/*---------------------------------------------------------------*/

footer .columns-header-item2 .columns-header-text .columns-header-line1{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;

    color: #ffffff;
}
footer .columns-header-item2 .columns-header-text .columns-header-line2{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
}
footer .columns-header-item2 .columns-header-text .columns-header-line3{
    font-family: 'FuturaBook';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #FF5C38;
}
/*---------------------------------------------------------------*/
footer .columns-header-item3 .columns-header-text .columns-header-line1{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'FuturaBold';
    font-size: 12px;


}
footer .columns-header-item3 .columns-header-text .columns-header-line2{
    width: 130px;
    font-family: 'Inter', sans-serif;
;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
}
/*---------------------------------------------------------------*/

footer .columns-header-item5 .columns-header-text .columns-header-line1{
    font-family: 'FuturaDemi';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    text-transform: uppercase;
    color: #ffffff;


}
footer .columns-header-item5 .columns-header-text .columns-header-line2{
    color: #ffffff;
    font-family: 'Inter', sans-serif;
;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: right;

    text-align: center;

}

footer .columns-header{
    border-bottom: 1px solid #C4C4C4;
}
footer .columns-header-item4 .masenger{
    width: 42px;
    height: 42px;
    border-radius: 100px;
}
footer .columns-header-item4 .masenger:hover{
    border:1px solid #FF8329
}
@media screen and (max-width: 980px) {
    
    footer .columns-header {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "col1" "col2" "col3" "col4" "col5";
        gap: 20px;
        height: 500px;
        padding-top: 20px;
    }
    footer .columns-header-item1:nth-child(1) {
        grid-area: col1;
    }
    footer .columns-header-item2:nth-child(2) {
        grid-area: col2;
    }
    footer .columns-header-item3:nth-child(3) {
        grid-area: col3;
    }
    footer .columns-header-item4:nth-child(4) {
        grid-area: col4;
    }
    footer .columns-header-item5:nth-child(5) {
        grid-area: col5;
    }
    footer .columns-header-item5{
        display: block;
        padding-bottom: 50px;
    }
    footer .columns-header-item5 img{
        display: block;
        margin-right: auto;
        margin-left: auto;
        
    }
    footer .columns-header-item5 .columns-header-text{
        margin-top: 10px;
        display: block;
        margin-left: 0;
        margin-right: auto;
        margin-left: auto;
        line-height: 50%;
    }
    footer .columns-header-item3{
        display: block;
    }
    footer .columns-header-item3 img{
        display: block;
        margin-right: auto;
        margin-left: auto;
        
    }
    footer .columns-header-item4 .masenger{
        margin-right: 0;
    }
    footer .columns-header-item4 .masenger:hover{
        color:#FF8329
    }
    footer .columns-header-item4{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:10px;
       
    }
    footer .columns-header-item3 .columns-header-text{
        margin-top: 10px;
        display: block;
        margin-left: 0;
        margin-right: auto;
        margin-left: auto;
        line-height: 50%;
        text-align: center;
    }
    .brUnvis{
        display: none;
    }
    footer .columns-header-item2 .columns-header-text{
        text-align: center;
        line-height: 50%;
    }
    footer .columns-header-item1 .columns-header-text{
        text-align: center;
        line-height: 80%;
    }
}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
footer .endColumn{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "col1 col1 col2 col2";
    justify-content: center;
    align-items: center;
}
footer .endColumn .endColumn-item:nth-child(1) {
    grid-area: col1;
}
footer .endColumn .endColumn-item:nth-child(2) {
    grid-area: col2;
}
footer .endColumn .endColumn-item h4{
    text-align: center;
}
footer .endColumn .notUnderlined{
    font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 140%;
/* identical to box height, or 17px */

color: #FFFFFF;

opacity: 0.43;
}
footer .endColumn .underlined{
    font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 140%;
/* identical to box height, or 17px */
text-decoration-line: underline;

color: #FFFFFF;

opacity: 0.43;
}

@media screen and (max-width: 980px) {
    footer .endColumn{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto auto;
        grid-template-areas: "col1" "col2";
        justify-content: center;
        align-items: center;
    }
    footer .endColumn .endColumn-item:nth-child(1) {
        grid-area: col1;
    }
    footer .endColumn .endColumn-item:nth-child(2) {
        grid-area: col2;
    }
}